<div class="animated fadeIn">
  <div class="col-sm-12" *ngIf="list">
    <div class="card" style="Height:97%">
      <div class="card-header">
          <i class="icon-book-open"> </i> List of COA
         
          <div class="card-actions">

              <button type = "button" (click) = "refresh()" 
              data-toggle="tooltip" data-placement="bottom" title="New" ><i class="fa fa-plus"></i></button>
              <button type = "button" [disabled] = "updatebutton" (click) = "edit()" 
              data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-pencil"></i></button>
              <button type = "button" [disabled] = "deletebutton" (click) = "delete()" 
              data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash"></i></button>
          </div>

      </div>
      <div class="card-body">
        <div>

            <input
            type='text'
            class="border-top-0 border-left-0 border-right-0 mb-3"
            style='width:100%;'
            placeholder='Search...'
            (keyup)='updateFilter($event)'
            />

          <ngx-datatable class="bootstrap" [rows]="rows" [columns]="columns" [columnMode]="'flex'" [footerHeight]="'40'" [limit]="13"
            [selected]="selected" [selectionType]="'single'" (activate)="onActivate($event)" (select)='onSelect($event)'>
            <ngx-datatable-column name="Code" [flexGrow]="1" editable="false"></ngx-datatable-column>
            <ngx-datatable-column name="Title" [flexGrow]="3" editable="false"></ngx-datatable-column>

            <ngx-datatable-column name="Active" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                <input type="checkbox" [disabled]="true" [checked]="row.isactive===true">

              </ng-template>

            </ngx-datatable-column>

          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12" *ngIf="entry">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-id-card"> </i> Chat of Accounts Setup

        <div class="card-actions">
          <button type = "button" *ngIf="saveshow" (click) = "save()" 
          data-toggle="tooltip" data-placement="bottom" title="Save" ><i class="fa fa-check"></i></button>
          <button type = "button" *ngIf="!saveshow" (click) = "update()" 
          data-toggle="tooltip" data-placement="bottom" title="Update"><i class="fa fa-check-square-o"></i></button>
          <button type = "button" (click) = "cancel()" 
          data-toggle="tooltip" data-placement="bottom" title="Close"><i class="fa fa-close"></i></button>
        </div>
      </div>
      <div class="card-body">

        <div class="row">
          <div class="col-sm-1">
            <label for="code">Code</label>
          </div>

          <div class="col-sm-8">
            <div class="form-group">
              <input type="text" [disabled]="true" [(ngModel)]="coa_code" class="form-control" id="coa_code" placeholder="Enter code">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-1">
            <label for="title">Title</label>
          </div>

          <div class="col-sm-8">
            <div class="form-group">
              <input type="text" [(ngModel)]="coa_title" class="form-control" id="coa_title" placeholder="Enter title">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-1">
            <label for="isactive">Active</label>
          </div>

          <div class="col-sm-8">
            <label class="switch switch-sm switch-icon switch-pill switch-secondary">
              <input type="checkbox" class="switch-input" [(ngModel)]="coa_isActive">
              <span class="switch-label" data-on="Yes" data-off="No"></span>
              <span class="switch-handle"></span>
            </label>
          </div>

        </div>


        <div class="form-group row">
          <div class="col-sm-1">
            <label for="type">Type</label>
          </div>

          <div class="col-sm-5">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" checked="true" type="radio" [(ngModel)]="coa_type" id="coa_type" value="1"> Group
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" [(ngModel)]="coa_type" id="coa_type" value="2"> Detail
              </label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-1">
            <label for="contact">Nature</label>
          </div>

          <div class="col-sm-3">
            <select [(ngModel)]="coa_nature" name="select" class="form-control-sm">
              <option value="1">Asset</option>
              <option value="2">Liability</option>
              <option value="3">Income</option>
              <option value="4">Expense</option>
              <option value="5">Equity</option>
            </select>

          </div>
        </div>
      </div>
      </div>
    </div>
</div>