<header class="app-header navbar">
  <ul class="nav navbar-nav" style="width:100%;">
    <button style="width:5%;" class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
    <button style="width:5%;" class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>&#9776;</button>
    <div class="divider d-lg-none" style="width:2%;" ></div>
    <a  [routerLink]="['/pages/dashboard']" class="ml-1" style="width:6%; font-size:30px;" href="#">Sigma</a>
    
    <!-- For Mobile -->
    <div class="divider d-lg-none" style="width:48%;" ></div>
    <!-- For PC -->
    <div class="divider d-md-down-none" style="width:70%;" ></div>

    <a class="mr-1" style="font-size:12px; color:gray;" > Welcome. {{ userName }} </a>
    <div class="divider d-md-down-none" style="width:5%;" ></div>
    <!-- <a class="mx-2" data-toggle="tooltip" data-placement="bottom" title="Logout" (click) = "onLogout" ><i class="icon-logout"   ></i></a> -->
    <button style="border:none; background-color: transparent;" type="button" class="mx-2" data-toggle="tooltip" data-placement="bottom" title="Logout" (click) = "onLogout()" >
      <i class="icon-logout"></i></button>
  </ul>
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" style="color:black;" routerLinkActive="active" [routerLink]="['/pages/dashboard']"><i class="fa fa-dashboard"></i> Dashboard </a>
        </li>
        <li class="divider"></li>
        <li class="nav-title" style="color:black;" >
          Menu
        </li>
        <!-- <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="icon-puzzle"></i> Management</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/pages/management/evaluation']"><i class="icon-puzzle"></i> Evaluation Form </a>
            </li>
          </ul>
        </li> -->
<!-- Setup Menu -->
        <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" style="color:black;" href="#" appNavDropdownToggle><i class="fa fa-gears"></i>Setup</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" style="color:black;" [routerLink]="['/pages/setup/user/user']"><i class="icon-people"></i>User Setup</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" style="color:black;" [routerLink]="['/pages/setup/store/store']"><i class="fa fa-shopping-cart"></i>Store Setup</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" style="color:black;" [routerLink]="['/pages/setup/product/product']"><i class="fa fa-shopping-bag"></i>Item Setup</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" style="color:black;" [routerLink]="['/pages/setup/customer/customer']"><i class="fa fa-address-book"></i>Customer Setup</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" style="color:black;" [routerLink]="['/pages/setup/supplier/supplier']"><i class="fa fa-id-card"></i>Supplier Setup</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" style="color:black;" [routerLink]="['/pages/setup/chartofacc/chartofacc']"><i class="fa fa-book"></i>Chart of Accounts Setup</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" style="color:black;" [routerLink]="['/pages/setup/city/city']"><i class="fa fa-map-signs"></i>City Setup</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" style="color:black;" [routerLink]="['/pages/setup/salesarea/salesarea']"><i class="fa fa-globe"></i>Sales Area Setup</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" style="color:black;" [routerLink]="['/pages/setup/saleman/saleman']"><i class="fa fa-male"></i>Saleman Setup</a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" style="color:black;" [routerLink]="['/pages/setup/unit/unit']"><i class="fa fa-balance-scale"></i>Unit Setup</a>
            </li>


            <li class="nav-item">
              <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
              <a class="nav-link nav-dropdown-toggle" style="color:black;" href="#" appNavDropdownToggle><i class="fa fa-users"></i>Party Attributes Setups</a>

                <ul class="nav-dropdown-items">
                  <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" style="color:black;" [routerLink]="['/pages/setup/partyattribute1/partyattribute1']"><i class="fa fa-user"></i>Party Attribute 1</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" style="color:black;" [routerLink]="['/pages/setup/partyattribute2/partyattribute2']"><i class="fa fa-user"></i>Party Attribute 2</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" style="color:black;" [routerLink]="['/pages/setup/partyattribute3/partyattribute3']"><i class="fa fa-user"></i>Party Attribute 3</a>
                  </li>
                </ul>
            </li>

            <li class="nav-item">
              <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
              <a class="nav-link nav-dropdown-toggle" style="color:black;" href="#" appNavDropdownToggle><i class="fa fa-object-group"></i>Items Attributes Setups</a>

                <ul class="nav-dropdown-items">
                  <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" style="color:black;" [routerLink]="['/pages/setup/itemattribute1/itemattribute1']"><i class="fa fa-object-ungroup"></i>Item Attribute 1</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" style="color:black;" [routerLink]="['/pages/setup/itemattribute2/itemattribute2']"><i class="fa fa-object-ungroup"></i>Item Attribute 2</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" style="color:black;" [routerLink]="['/pages/setup/itemattribute3/itemattribute3']"><i class="fa fa-object-ungroup"></i>Item Attribute 3</a>
                  </li>
                </ul>
            </li>


          </ul>
        </li>

      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main" style="margin-top:20px;">

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
</div>

<footer class="app-footer">
  <!-- <a href="#"></a> &copy; Text -->
  <span class="float-right">Developed by <a href="">WQ &copy; </a></span>
</footer>
