<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card-group">
          <div class="card p-4 bg-primary text-white">
        
            <div class="card-header bg-primary text-center">
              <h2> <i class="icon-lock"></i>  Login</h2>
            </div>
           
            <div class="card-body">
              <p class="text-primary">.</p>
              <div class="input-group mb-3">
                <span class="input-group-addon"><i class="icon-user"></i></span>
                <input type="text" [(ngModel)] = "usr_id" (keyup.enter)="login()" maxlength = '8' class="form-control" placeholder="Username">
              </div>
              <div class="input-group mb-4">
                <span class="input-group-addon"><i class="icon-lock"></i></span>
                <input type="password" [(ngModel)] = "usr_pwd" (keyup.enter)="login()" maxlength = '20' class="form-control" placeholder="Password">
              </div>
            
              <div class="col-md-5">
                <p class="text-primary">.</p>
              </div>
              <div class="card-footer bg-primary fg-primary" style="border-color:#187da0">
                <button type="button" (click) = "login()" class="btn btn-primary bg-white text-primary btn-block ">
                  <i class="fa fa-key"></i>&nbsp; Login</button>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-secondary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">Password Expired. Change Passoword to continue.</h6>
        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <div class="row">
            <div class="col-sm-3">
              <label for="password">New Password</label>
            </div>

            <div class="col-sm-8">
              <!-- <div class="form-group"> -->
                <input type="password" [(ngModel)]="usr_newpwd" class="form-control" id="usr_newpwd" placeholder="Enter new password">
              <!-- </div> -->
            </div>
          </div>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" style= "width:20%" (click)="primaryModal.hide()">Cancel</button> -->
        <button type="button" class="btn btn-secondary" style= "width:20%" (click)="validatePassword()" >Login</button>
      </div>
    </div>
  </div>
