@each $color, $value in $theme-colors {
  .modal-#{$color} {
    
    .modal-content {
      // border-color: $value;
      border-color: #6a7d83;
      border-radius: 10px;
    }

    .modal-header {
      color: #fff;
      // background-color: $value;
      background-color: darken(#6a7d83, 3%);
      border-radius: 10px 10px 0px 0px;
    }
  }
}
