<div class="animated fadeIn">
  
  <div class="col-sm-12" *ngIf="list">
      <div class="card" style="Height:97%">
          <div class="card-header">
              <i class="icon-book-open">  </i> List of Sales Areas
               
              <div class="card-actions">

                  <button type = "button" (click) = "refresh()" 
                  data-toggle="tooltip" data-placement="bottom" title="New" ><i class="fa fa-plus"></i></button>
                  <button type = "button" [disabled] = "updatebutton" (click) = "edit()" 
                  data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-pencil"></i></button>
                  <button type = "button" [disabled] = "deletebutton" (click) = "delete()" 
                  data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash"></i></button>
              </div>

          </div>
        <div class="card-body collapse show" id="collapseExample">
          <div>

            <input
            type='text'
            class="border-top-0 border-left-0 border-right-0 mb-3"
            style='width:100%;'
            placeholder='Search...'
            (keyup)='updateFilter($event)'
            />

            <ngx-datatable class="bootstrap" [rows]="rows" [columns]="columns" #primaryTable
            [columnMode]="'flex'"

            [footerHeight]="40"
            [limit]="13"
            [selected]="selected"
            [selectionType]="'single'"

            (activate)="onActivate($event)"
            (select)='onSelect($event)'
            
            >
            <ngx-datatable-column name="Code" [flexGrow]="1" editable="false" ></ngx-datatable-column>
            <ngx-datatable-column name="Name" [flexGrow]="3" editable="false" ></ngx-datatable-column>
            
            <ngx-datatable-column name="Type" [flexGrow]="1"  >
                <ng-template let-row="row" ngx-datatable-cell-template >
                  
                  <label *ngIf = "row.type=='1'" for="type">Group</label>
                  <label *ngIf = "row.type=='2'" for="type">Detail</label>

                </ng-template>                    
      
                </ngx-datatable-column>
              <!-- <ngx-datatable-column name="Parent Desc" prop="parent" [flexGrow]="1" editable="false" >

                  <ng-template let-row="row" ngx-datatable-cell-template >
                  
                      <label *ngIf = "row.type=='2'" for="type"></label>
    
                    </ng-template>                    
          
              </ngx-datatable-column> -->

            </ngx-datatable>
          </div>
      </div>
    </div>
</div>

<div class="col-sm-12" *ngIf="entry">
    <div class="card">
      <div class="card-header">
          <i class="fa fa-globe">  </i> Sales Area Setup
          
          <div class="card-actions">

            <button type = "button" *ngIf="saveshow" (click) = "save()" 
            data-toggle="tooltip" data-placement="bottom" title="Save" ><i class="fa fa-check"></i></button>
            <button type = "button" *ngIf="!saveshow" (click) = "update()" 
            data-toggle="tooltip" data-placement="bottom" title="Update"><i class="fa fa-check-square-o"></i></button>
            <button type = "button" (click) = "cancel()" 
            data-toggle="tooltip" data-placement="bottom" title="Close"><i class="fa fa-close"></i></button>
          </div>
 
      </div>

      <div class="card-body">
      
        <div class="row">
          <div class="col-sm-2">
            <label for="code">Code</label>
          </div>

          <div class="col-sm-8">
            <div class="form-group">
              <input type="text" [disabled]="true" [(ngModel)]="sa_code" class="form-control" id="sa_code" placeholder="Enter sales area code">
            </div>
          </div>
        </div>
            
        <div class="row">
          <div class="col-sm-2">
            <label for="name">Name</label>
          </div>

          <div class="col-sm-8">
            <div class="form-group">
              <input type="text" [(ngModel)]="sa_name" maxlength = '100' class="form-control" id="sa_name" placeholder="Enter sales area name">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label" for="sa_type">Type</label>
          <div class="col-sm-2">
            <select id="sa_type" name="sa_type" [(ngModel)]="sa_type" class="form-control">
              <option value="1">Group</option>
              <option value="2">Detail</option>
              
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <label class=" control-label" for="name">Parent Sales Area</label>
          </div>

          <div class="col-sm-6">
            <div class="input-group">
              <input type="text" [disabled]="true" [(ngModel)]="sa_parent_name" class="form-control" id="sa_parent_name" placeholder="Select parent" >
              <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" (click) = "showparent()"
                  [hidden]="!open" [disabled]="parent" >
                      <i class="fa fa-folder-open"></i>
                  </button>

                  <button class="btn btn-outline-secondary" type="button"  (click) = "closeparent()"
                  [hidden]="open"  >
                      <i class="fa fa-folder"></i>
                  </button>

                  
                </div>
            </div>
          </div>

        </div>
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8" *ngIf = "parentselect">
          <h5>List of Parent Sales Areas</h5>
          <div class="card card-body" >

              <input
              type='text'
              class="border-top-0 border-left-0 border-right-0 mb-3"
              style='width:100%;'
              placeholder='Search...'
              (keyup)='updateParentFilter($event)'
              />


            <ngx-datatable class="bootstrap" [rows]="sa_parent_rows" [columns]="sa_parent_columns" #parentTable
            [columnMode]="'flex'"
  
            [footerHeight]="'40'"
            [limit]="5"
            [selected]="parent_selected"
            [selectionType]="'single'"
            
            (select)='onSelectParent($event)'
            
            >
            <ngx-datatable-column name="Code" [flexGrow]="1" id="sa_parent_code"  ></ngx-datatable-column>
            <ngx-datatable-column name="Name" id="sa_parent_name" [flexGrow]="2" ></ngx-datatable-column>
  
            </ngx-datatable>

            
          </div>
        </div>


      </div>


      </div>

    </div>
  </div>
</div>    


<!-- <div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="test" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title">List of Parent Sales Areas</h6>
        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <ngx-datatable class="bootstrap" [rows]="sa_parent_rows" [columns]="sa_parent_columns" 
          [columnMode]="'flex'"

          [footerHeight]="'40'"
          [limit]="5"
          [selected]="parent_selected"
          [selectionType]="'single'"
          
          (select)='onSelectParent($event)'
          
          >
          <ngx-datatable-column name="Code" [flexGrow]="1" id="sa_parent_code"  ></ngx-datatable-column>
          <ngx-datatable-column name="Name" id="sa_parent_name" [flexGrow]="2" ></ngx-datatable-column>

          </ngx-datatable>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" style= "width:20%" (click)="primaryModal.hide()">Cancel</button>
        <button type="button" class="btn btn-secondary" style= "width:20%" (click)="primaryModal.hide()" >OK</button>
      </div>
    </div>
  </div> -->
