<div class="animated fadeIn">
  
    <div class="col-sm-12" *ngIf="list">
        <div class="card" style="Height:97%">
            <div class="card-header">
              <i class="icon-book-open">  </i> List of Items
              <div class="card-actions">

                  <button type = "button" (click) = "refresh()" 
                  data-toggle="tooltip" data-placement="bottom" title="New" ><i class="fa fa-plus"></i></button>
                  <button type = "button" [disabled] = "updatebutton" (click) = "edit()" 
                  data-toggle="tooltip" data-placement="bottom" title="Edit"><i class="fa fa-pencil"></i></button>
                  <button type = "button" [disabled] = "deletebutton" (click) = "delete()" 
                  data-toggle="tooltip" data-placement="bottom" title="Delete"><i class="fa fa-trash"></i></button>
              </div>
              
            </div>
          <div class="card-body">
            <div>

          <div class="row col-sm-12" >
              <input
              type='text'
              class="col-sm-6 border-top-0 border-left-0 border-right-0 mb-3"
              placeholder='Search...'
              (keyup)='updateFilter($event)'
              />
                
              <div class="col-sm-6 text-right">
              
                <label class="mr-4" >Show</label>
                <span class="border px-2 py-2">
                  <label class="radio-inline mr-2">
                    <input type="radio" id="radio1" name="activefilter" value="all" checked (click)="filterActive($event)" > All
                  </label>
                  <label class="radio-inline mr-2">
                    <input type="radio" value="true" id="radio2" name="activefilter" (click)="filterActive($event)" > Active
                  </label>
                  <label class="radio-inline">
                    <input type="radio" value="false" id="radio3" name="activefilter" (click)="filterActive($event)" > Inactive
                  </label>
              </span>
            </div>
          </div>


              <ngx-datatable class="bootstrap" [rows]="rows" [columns]="columns" #primaryTable
              [columnMode]="'flex'"

              [footerHeight]="40"
              [limit]="13"
              [selected]="selected"
              [selectionType]="'single'"

              (activate)="onActivate($event)"
              (select)='onSelect($event)'
              
              >
              <ngx-datatable-column name="Code" [flexGrow]="1" editable="false" ></ngx-datatable-column>
              <ngx-datatable-column name="Name" [flexGrow]="3" editable="false" ></ngx-datatable-column>
              
              <ngx-datatable-column name="Active" [flexGrow]="1"  >
                  <ng-template let-row="row" ngx-datatable-cell-template >
                    <input 
                      type="checkbox" 
                      [disabled]="true"
                      [checked]="row.isactive===true"
                      >
                    
                  </ng-template>                    
        
                  </ngx-datatable-column>

              </ngx-datatable>
            </div>
        </div>
      </div>
  </div>

  <div class="col-sm-12" *ngIf="entry">
      <div class="card">
        <div class="card-header">
  
          <i class="fa fa-shopping-bag">  </i> Item Setup
  
          <div class="card-actions">
            <button type = "button" *ngIf="saveshow" (click) = "save()" 
            data-toggle="tooltip" data-placement="bottom" title="Save" ><i class="fa fa-check"></i></button>
            <button type = "button" *ngIf="!saveshow" (click) = "update()" 
            data-toggle="tooltip" data-placement="bottom" title="Update"><i class="fa fa-check-square-o"></i></button>
            <button type = "button" (click) = "cancel()" 
            data-toggle="tooltip" data-placement="bottom" title="Close"><i class="fa fa-close"></i></button>
          </div>
      
        
        </div>

        <div class="card-body">
        
          <div class="row">
            <div class="col-sm-2">
              <label for="code">Code</label>
            </div>

            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" [disabled]="true" [(ngModel)]="product_code" class="form-control" id="product_code" placeholder="Enter item code">
              </div>
            </div>
          </div>
              
          <div class="row">
            <div class="col-sm-2">
              <label for="name">Name</label>
            </div>

            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" [(ngModel)]="product_name" maxlength="100" class="form-control" id="product_name" placeholder="Enter item name">
              </div>
            </div>
          </div>

          <div class="row mt-2 mb-3">
            <div class="col-sm-2">
              <label for="isactive">Active</label>
            </div>

            <div class="col-sm-8">
              <label class="switch switch-sm switch-icon switch-pill switch-secondary">
                  <input type="checkbox" class="switch-input" [(ngModel)]="product_isActive" >
                  <span class="switch-label" data-on="Yes" data-off="No"></span>
                  <span class="switch-handle"></span>
              </label>
            </div>

          </div>

          <div class="row">
            <div class="col-sm-2">
              <label for="name">Store</label>
            </div>

            <div class="col-sm-6">
              <div class="input-group">
                <input type="text" [disabled]="true" [(ngModel)]="store_desc" class="form-control" id="store_desc" placeholder="Select store" >

                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" (click) = "showstore()"
                  [hidden]="!open" >
                      <i class="fa fa-folder-open"></i>
                  </button>

                  <button class="btn btn-outline-secondary" type="button"  (click) = "closestore()"
                  [hidden]="open"  >
                      <i class="fa fa-folder"></i>
                  </button>

                  
                </div>

              </div>
            </div>

            <!-- <div> 
              <button type = "button" (click) = "showparent()" class="col-sm-3 btn-secondary pl-2 pr-4 pb-1 pt-1 align-center"><i class="fa fa-folder-open"></i></button>
            </div>   -->

          </div>

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" *ngIf = "storeselect">
              <h5>List of Stores</h5>
              <div class="card card-body" >

                <div class="row col-sm-12" >
                    <input
                    type='text'
                    class="col-sm-6 border-top-0 border-left-0 border-right-0 mb-3"
                    placeholder='Search...'
                    (keyup)='updateStoreFilter($event)'
                    />
                      
                    <div class="col-sm-6 text-right">
                    
                      <label class="mr-4" >Show</label>
                      <span class="border px-2 py-2">
                        <label class="radio-inline mr-2">
                          <input type="radio" id="radio1" name="Storeactivefilter" value="all" checked (click)="filterStoreActive($event)" > All
                        </label>
                        <label class="radio-inline mr-2">
                          <input type="radio" value="true" id="radio2" name="Storeactivefilter" (click)="filterStoreActive($event)" > Active
                        </label>
                        <label class="radio-inline">
                          <input type="radio" value="false" id="radio3" name="Storeactivefilter" (click)="filterStoreActive($event)" > Inactive
                        </label>
                    </span>
                  </div>
                </div>

                <!-- <input
                type='text'
                class="border-top-0 border-left-0 border-right-0 mb-3"
                style='width:100%;'
                placeholder='Search...'
                (keyup)='updateStoreFilter($event)'
                /> -->

                <ngx-datatable class="bootstrap" [rows]="store_rows" [columns]="store_columns" #storetable
                [columnMode]="'flex'"
    
                [footerHeight]="'40'"
                [limit]="5"
                [selected]="store_selected"
                [selectionType]="'single'"
                
                (select)='onSelectStore($event)'
                
                >
                <ngx-datatable-column name="Code" [flexGrow]="1" id="store_code"  ></ngx-datatable-column>
                <ngx-datatable-column name="Name" id="store_name" [flexGrow]="2" ></ngx-datatable-column>
                
                <ngx-datatable-column name="Active" [flexGrow]="1" id="store_isActive"  >
                    <ng-template let-row="row" ngx-datatable-cell-template >
                      <input 
                        type="checkbox" 
                        [disabled]="true"
                        [checked]="row.isactive===true"
                        >
                    </ng-template>                    
          
                    </ngx-datatable-column>
    
                </ngx-datatable>
                
              </div>
            </div>

          </div>       
          
          <!-- Purchasing Unit -->
          
          <div class="row mt-3">
              <div class="col-sm-2">
                <label class="mt-2" for="name">Purchasing Unit</label>
              </div>
  
              <div class="col-sm-6">
                <div class="input-group">
                  <input type="text" [disabled]="true" [(ngModel)]="pUnit_desc" class="form-control" id="pUnit_desc" placeholder="Select purchasing unit" >
  
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click) = "showPUnit()"
                    [hidden]="!open_pUnit" >
                        <i class="fa fa-folder-open"></i>
                    </button>
  
                    <button class="btn btn-outline-secondary" type="button"  (click) = "closePUnit()"
                    [hidden]="open_pUnit"  >
                        <i class="fa fa-folder"></i>
                    </button>
  
                  </div>
  
                </div>
              </div>
  
            </div>
  
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-8" *ngIf = "pUnitSelect">
                <h5>List of Units</h5>
                <div class="card card-body" >
  
                  <div class="row col-sm-12" >

                    <input
                    type='text'
                    class="col-sm-6 border-top-0 border-left-0 border-right-0 mb-3"
                    placeholder='Search...'
                    (keyup)='updatePUnitFilter($event)'
                    />
                      
                    <div class="col-sm-6 text-right">
                    
                      <label class="mr-4" >Show</label>
                      <span class="border px-2 py-2">
                        <label class="radio-inline mr-2">
                          <input type="radio" id="radio1" name="PUnitactivefilter" value="all" checked (click)="filterPUnitActive($event)" > All
                        </label>
                        <label class="radio-inline mr-2">
                          <input type="radio" value="true" id="radio2" name="PUnitactivefilter" (click)="filterPUnitActive($event)" > Active
                        </label>
                        <label class="radio-inline">
                          <input type="radio" value="false" id="radio3" name="PUnitactivefilter" (click)="filterPUnitActive($event)" > Inactive
                        </label>
                      </span>
                    </div>
                  </div>

                  <!-- <input
                  type='text'
                  class="border-top-0 border-left-0 border-right-0 mb-3"
                  style='width:100%;'
                  placeholder='Search...'
                  (keyup)='updatePUnitFilter($event)'
                  /> -->
  
                  <ngx-datatable class="bootstrap" [rows]="Punit_rows" [columns]="unit_columns" #pUnitTable
                  [columnMode]="'flex'"
      
                  [footerHeight]="'40'"
                  [limit]="5"
                  [selected]="pUnit_selected"
                  [selectionType]="'single'"
                  
                  (select)='onSelectPUnit($event)'
                  
                  >
                  <ngx-datatable-column name="Code" [flexGrow]="1" id="unit_code"  ></ngx-datatable-column>
                  <ngx-datatable-column name="Name" id="unit_name" [flexGrow]="2" ></ngx-datatable-column>
                  
                  <ngx-datatable-column name="Active" [flexGrow]="1" id="unit_isActive"  >
                      <ng-template let-row="row" ngx-datatable-cell-template >
                        <input 
                          type="checkbox" 
                          [disabled]="true"
                          [checked]="row.isactive===true"
                          >
                      </ng-template>                    
            
                      </ngx-datatable-column>
      
                  </ngx-datatable>
                  
                </div>
              </div>
  
            </div>  

         <!-- Storing Unit -->
          
         <div class="row mt-3">
            <div class="col-sm-2">
              <label class="mt-2" for="name">Storing Unit</label>
            </div>

            <div class="col-sm-6">
              <div class="input-group">
                <input type="text" [disabled]="true" [(ngModel)]="sUnit_desc" class="form-control" id="sUnit_desc" placeholder="Select storing unit" >

                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" (click) = "showSUnit()"
                  [hidden]="!open_sUnit" >
                      <i class="fa fa-folder-open"></i>
                  </button>

                  <button class="btn btn-outline-secondary" type="button"  (click) = "closeSUnit()"
                  [hidden]="open_sUnit"  >
                      <i class="fa fa-folder"></i>
                  </button>

                </div>

              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8" *ngIf = "sUnitSelect">
              <h5>List of Units</h5>
              <div class="card card-body" >

                  <div class="row col-sm-12" >
                    
                      <input
                      type='text'
                      class="col-sm-6 border-top-0 border-left-0 border-right-0 mb-3"
                      placeholder='Search...'
                      (keyup)='updateSUnitFilter($event)'
                      />
                        
                      <div class="col-sm-6 text-right">
                      
                        <label class="mr-4" >Show</label>
                        <span class="border px-2 py-2">
                          <label class="radio-inline mr-2">
                            <input type="radio" id="radio1" name="SUnitactivefilter" value="all" checked (click)="filterSUnitActive($event)" > All
                          </label>
                          <label class="radio-inline mr-2">
                            <input type="radio" value="true" id="radio2" name="SUnitactivefilter" (click)="filterSUnitActive($event)" > Active
                          </label>
                          <label class="radio-inline">
                            <input type="radio" value="false" id="radio3" name="SUnitactivefilter" (click)="filterSUnitActive($event)" > Inactive
                          </label>
                        </span>
                      </div>
                    </div>

                <!-- <input
                type='text'
                class="border-top-0 border-left-0 border-right-0 mb-3"
                style='width:100%;'
                placeholder='Search...'
                (keyup)='updateSUnitFilter($event)'
                /> -->

                <ngx-datatable class="bootstrap" [rows]="Sunit_rows" [columns]="unit_columns" #sUnitTable
                [columnMode]="'flex'"
    
                [footerHeight]="'40'"
                [limit]="5"
                [selected]="sUnit_selected"
                [selectionType]="'single'"
                
                (select)='onSelectSUnit($event)'
                
                >
                <ngx-datatable-column name="Code" [flexGrow]="1" id="unit_code"  ></ngx-datatable-column>
                <ngx-datatable-column name="Name" id="unit_name" [flexGrow]="2" ></ngx-datatable-column>
                
                <ngx-datatable-column name="Active" [flexGrow]="1" id="unit_isActive"  >
                    <ng-template let-row="row" ngx-datatable-cell-template >
                      <input 
                        type="checkbox" 
                        [disabled]="true"
                        [checked]="row.isactive===true"
                        >
                    </ng-template>                    
          
                    </ngx-datatable-column>
    
                </ngx-datatable>
                
              </div>
            </div>

          </div>  

        <!-- Item Attribute 1 -->
          
         <div class="row mt-3">
          <div class="col-sm-2">
            <label class="mt-2" for="name">Item Attribute 1 </label>
          </div>

          <div class="col-sm-6">
            <div class="input-group">
              <input type="text" [disabled]="true" [(ngModel)]="iAtt1_desc" class="form-control" id="iAtt1_desc" placeholder="Select item attribute 1" >

              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click) = "showiAtt1()"
                [hidden]="!open_iAtt1" >
                    <i class="fa fa-folder-open"></i>
                </button>

                <button class="btn btn-outline-secondary" type="button"  (click) = "closeiAtt1()"
                [hidden]="open_iAtt1"  >
                    <i class="fa fa-folder"></i>
                </button>

              </div>

            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-8" *ngIf = "iAtt1Select">
            <h5>List of Item Attributes 1 </h5>
            <div class="card card-body" >

                <div class="row col-sm-12" >

                  <input
                  type='text'
                  class="col-sm-6 border-top-0 border-left-0 border-right-0 mb-3"
                  placeholder='Search...'
                  (keyup)='updateiAtt1Filter($event)'
                  />
                    
                  <div class="col-sm-6 text-right">
                  
                    <label class="mr-4" >Show</label>
                    <span class="border px-2 py-2">
                      <label class="radio-inline mr-2">
                        <input type="radio" id="radio1" name="iAtt1activefilter" value="all" checked (click)="filteriAtt1Active($event)" > All
                      </label>
                      <label class="radio-inline mr-2">
                        <input type="radio" value="true" id="radio2" name="iAtt1activefilter" (click)="filteriAtt1Active($event)" > Active
                      </label>
                      <label class="radio-inline">
                        <input type="radio" value="false" id="radio3" name="iAtt1activefilter" (click)="filteriAtt1Active($event)" > Inactive
                      </label>
                    </span>
                  </div>
                </div>

              <!-- <input
              type='text'
              class="border-top-0 border-left-0 border-right-0 mb-3"
              style='width:100%;'
              placeholder='Search...'
              (keyup)='updateiAtt1Filter($event)'
              /> -->

              <ngx-datatable class="bootstrap" [rows]="iAtt1_rows" [columns]="iAtt1_columns" #iAtt1Table
              [columnMode]="'flex'"
  
              [footerHeight]="'40'"
              [limit]="5"
              [selected]="iAtt1_selected"
              [selectionType]="'single'"
              
              (select)='onSelectiAtt1($event)'
              
              >
              <ngx-datatable-column name="Code" [flexGrow]="1" id="iAtt1_code"  ></ngx-datatable-column>
              <ngx-datatable-column name="Name" id="iAtt1_name" [flexGrow]="2" ></ngx-datatable-column>
              
              <ngx-datatable-column name="Active" [flexGrow]="1" id="iAtt1_isActive"  >
                  <ng-template let-row="row" ngx-datatable-cell-template >
                    <input 
                      type="checkbox" 
                      [disabled]="true"
                      [checked]="row.isactive===true"
                      >
                  </ng-template>                    
        
                  </ngx-datatable-column>
  
              </ngx-datatable>
              
            </div>
          </div>

        </div>  

                <!-- Item Attribute 2 -->
          
                <div class="row mt-3">
                  <div class="col-sm-2">
                    <label class="mt-2" for="name">Item Attribute 2 </label>
                  </div>
        
                  <div class="col-sm-6">
                    <div class="input-group">
                      <input type="text" [disabled]="true" [(ngModel)]="iAtt2_desc" class="form-control" id="iAtt2_desc" placeholder="Select item attribute 2" >
        
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" (click) = "showiAtt2()"
                        [hidden]="!open_iAtt2" >
                            <i class="fa fa-folder-open"></i>
                        </button>
        
                        <button class="btn btn-outline-secondary" type="button"  (click) = "closeiAtt2()"
                        [hidden]="open_iAtt2"  >
                            <i class="fa fa-folder"></i>
                        </button>
        
                      </div>
        
                    </div>
                  </div>
        
                </div>
        
                <div class="row">
                  <div class="col-sm-2"></div>
                  <div class="col-sm-8" *ngIf = "iAtt2Select">
                    <h5>List of Item Attributes 2 </h5>
                    <div class="card card-body" >
        
                <div class="row col-sm-12" >                     
                  <input
                  type='text'
                  class="col-sm-6 border-top-0 border-left-0 border-right-0 mb-3"
                  placeholder='Search...'
                  (keyup)='updateiAtt2Filter($event)'
                  />
                    
                  <div class="col-sm-6 text-right">
                  
                    <label class="mr-4" >Show</label>
                    <span class="border px-2 py-2">
                      <label class="radio-inline mr-2">
                        <input type="radio" id="radio1" name="iAtt2activefilter" value="all" checked (click)="filteriAtt2Active($event)" > All
                      </label>
                      <label class="radio-inline mr-2">
                        <input type="radio" value="true" id="radio2" name="iAtt2activefilter" (click)="filteriAtt2Active($event)" > Active
                      </label>
                      <label class="radio-inline">
                        <input type="radio" value="false" id="radio3" name="iAtt2activefilter" (click)="filteriAtt2Active($event)" > Inactive
                      </label>
                    </span>
                  </div>
                </div>
        
                      <ngx-datatable class="bootstrap" [rows]="iAtt2_rows" [columns]="iAtt2_columns" #iAtt2Table
                      [columnMode]="'flex'"
          
                      [footerHeight]="'40'"
                      [limit]="5"
                      [selected]="iAtt2_selected"
                      [selectionType]="'single'"
                      
                      (select)='onSelectiAtt2($event)'
                      
                      >
                      <ngx-datatable-column name="Code" [flexGrow]="1" id="iAtt2_code"  ></ngx-datatable-column>
                      <ngx-datatable-column name="Name" id="iAtt2_name" [flexGrow]="2" ></ngx-datatable-column>
                      
                      <ngx-datatable-column name="Active" [flexGrow]="1" id="iAtt2_isActive"  >
                          <ng-template let-row="row" ngx-datatable-cell-template >
                            <input 
                              type="checkbox" 
                              [disabled]="true"
                              [checked]="row.isactive===true"
                              >
                          </ng-template>                    
                
                          </ngx-datatable-column>
          
                      </ngx-datatable>
                      
                    </div>
                  </div>
        
                </div>  

              <!-- Item Attribute 3 -->

              <div class="row mt-3">
                <div class="col-sm-2">
                  <label class="mt-2" for="name">Item Attribute 3 </label>
                </div>
      
                <div class="col-sm-6">
                  <div class="input-group">
                    <input type="text" [disabled]="true" [(ngModel)]="iAtt3_desc" class="form-control" id="iAtt3_desc" placeholder="Select item attribute 3" >
      
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" (click) = "showiAtt3()"
                      [hidden]="!open_iAtt3" >
                          <i class="fa fa-folder-open"></i>
                      </button>
      
                      <button class="btn btn-outline-secondary" type="button"  (click) = "closeiAtt3()"
                      [hidden]="open_iAtt3"  >
                          <i class="fa fa-folder"></i>
                      </button>
      
                    </div>
      
                  </div>
                </div>
      
              </div>
      
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8" *ngIf = "iAtt3Select">
                  <h5>List of Item Attributes 3 </h5>
                  <div class="card card-body" >
                   
                <div class="row col-sm-12" >    
                  <input
                  type='text'
                  class="col-sm-6 border-top-0 border-left-0 border-right-0 mb-3"
                  placeholder='Search...'
                  (keyup)='updateiAtt3Filter($event)'
                  />
                    
                  <div class="col-sm-6 text-right">
                  
                    <label class="mr-4" >Show</label>
                    <span class="border px-2 py-2">
                      <label class="radio-inline mr-2">
                        <input type="radio" id="radio1" name="iAtt3activefilter" value="all" checked (click)="filteriAtt3Active($event)" > All
                      </label>
                      <label class="radio-inline mr-2">
                        <input type="radio" value="true" id="radio2" name="iAtt3activefilter" (click)="filteriAtt3Active($event)" > Active
                      </label>
                      <label class="radio-inline">
                        <input type="radio" value="false" id="radio3" name="iAtt3activefilter" (click)="filteriAtt3Active($event)" > Inactive
                      </label>
                    </span>
                  </div>
                </div>
                    <ngx-datatable class="bootstrap" [rows]="iAtt3_rows" [columns]="iAtt3_columns" #iAtt3Table
                    [columnMode]="'flex'"
        
                    [footerHeight]="'40'"
                    [limit]="5"
                    [selected]="iAtt3_selected"
                    [selectionType]="'single'"
                    
                    (select)='onSelectiAtt3($event)'
                    
                    >
                    <ngx-datatable-column name="Code" [flexGrow]="1" id="iAtt3_code"  ></ngx-datatable-column>
                    <ngx-datatable-column name="Name" id="iAtt3_name" [flexGrow]="2" ></ngx-datatable-column>
                    
                    <ngx-datatable-column name="Active" [flexGrow]="1" id="iAtt3_isActive"  >
                        <ng-template let-row="row" ngx-datatable-cell-template >
                          <input 
                            type="checkbox" 
                            [disabled]="true"
                            [checked]="row.isactive===true"
                            >
                        </ng-template>                    
              
                        </ngx-datatable-column>
        
                    </ngx-datatable>
                    
                  </div>
                </div>
      
              </div> 
        </div>

      </div>
    </div>
  </div>    

